<ul class="pagination mt-3 justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page=1{% if query %}&{{ query }}{% endif %}">Начало</a>
    </li>
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&{{ query }}{% endif %}">Предыдущая</a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="?page=
                       {{ page_obj.previous_page_number }}{% if query %}&{{ query }}{% endif %}">{{ page_obj.previous_page_number }}</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
        </li>
    {% endif %}

    <li class="page-item">
        <form method="get">
            <label for="page">
                <input class="form-control rounded-0" type="text" name="page" id="page" value="{{ page_obj.number }}">
            </label>
            {% if  search%}
            <label>
                <input class="form-control" hidden type="text" name="search" value="{{ search }}">
            </label>
            {% endif %}
        </form>
    </li>

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?page=
                       {{ page_obj.next_page_number }}{% if query %}&{{ query }}{% endif %}">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.next_page_number }}{% if query %}&{{ query }}{% endif %}">Следующая</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следующая</a>
        </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&{{ query }}{% endif %}">В
            конец</a>
    </li>
</ul>
